{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      },
      "node": {
        "paths": ["src"]
      }
    }
  },
  "extends": [
    "plugin:unicorn/recommended",
    "plugin:testing-library/recommended",
    "plugin:jest/recommended",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint",
    "prettier/unicorn"
  ],
  "env": {
    "es2020": true,
    "browser": true,
    "jest": true,
    "node": true
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "plugins": ["simple-import-sort"],
      "rules": {
        "sort-imports": "off",
        "import/order": "off",
        "simple-import-sort/imports": [
          "error",
          {
            "groups": [
              // Side effect imports.
              ["^\\u0000"],
              // Packages
              ["^@?\\w"],
              // Absolute imports
              ["^[^.]"],
              // Features
              ["^@/\\w"],
              // Relative imports
              ["^\\."]
            ]
          }
        ],
        "import/first": "error",
        "import/newline-after-import": "error",
        "import/no-duplicates": "error"
      }
    },
    {
      "files": ["src/**/*.tsx"],
      "rules": {
        "@typescript-eslint/explicit-module-boundary-types": "off"
      }
    },
    {
      "files": ["src/core/store.ts"],
      "rules": {
        "@typescript-eslint/no-unsafe-call": "off",
        "@typescript-eslint/no-unsafe-member-access": "off",
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/no-unsafe-assignment": "off"
      }
    },
    {
      "files": ["src/features/**/slice.ts"],
      "rules": {
        "no-param-reassign": "off"
      }
    },
    {
      "files": ["src/index.tsx"],
      "rules": {
        "@typescript-eslint/no-floating-promises": "off"
      }
    },
    {
      "files": ["webpack/**/*.js"],
      "rules": {
        "import/no-default-export": "off",
        "import/no-extraneous-dependencies": "off",
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/no-unsafe-assignment": "off",
        "@typescript-eslint/no-unsafe-member-access": "off",
        "@typescript-eslint/restrict-template-expressions": "off",
        "@typescript-eslint/no-unsafe-return": "off",
        "@typescript-eslint/no-unsafe-call": "off"
      }
    },
    {
      "files": ["**/*.d.ts"],
      "rules": {
        "import/no-default-export": "off"
      }
    }
  ],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".jsx", ".tsx"] }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "./*.js",
          "webpack/**/*.ts",
          "src/**/*.test.js",
          "src/**/*.test.ts"
        ]
      }
    ],
    "import/prefer-default-export": "off",
    "import/no-default-export": "error",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-restricted-syntax": [
      "error",
      "LabeledStatement",
      "WithStatement",
      "SequenceExpression"
    ],
    "no-restricted-imports": ["error", { "patterns": ["../*", "~/@/*"] }],
    "unicorn/prevent-abbreviations": [
      "error",
      {
        "whitelist": {
          "args": true,
          "ref": true,
          "Ref": true,
          "props": true,
          "Props": true,
          "dev": true,
          "Dev": true,
          "prod": true,
          "Prod": true,
          "env": true,
          "Env": true,
          "params": true,
          "Params": true,
          "param": true,
          "Param": true,
          "config": true,
          "Config": true,
          "resolveFn": true
        }
      }
    ],
    "unicorn/no-null": "off",
    "unicorn/no-fn-reference-in-iterator": "off",
    "react/require-default-props": [
      "warn",
      {
        "forbidDefaultForRequired": true,
        "ignoreFunctionalComponents": true
      }
    ],
    "@typescript-eslint/comma-dangle": "off",
    "@typescript-eslint/no-shadow": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/unbound-method": "off",
    "@typescript-eslint/no-floating-promises": "off"
  }
}
