{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "./tsconfig.json"
      },
      "node": {
        "paths": ["src"]
      }
    }
  },
  "extends": [
    "plugin:unicorn/recommended",
    "plugin:testing-library/react",
    "plugin:jest/recommended",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "prettier"
  ],
  "env": {
    "es2020": true,
    "browser": true,
    "jest": true,
    "node": true
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "plugins": ["simple-import-sort"],
      "rules": {
        "sort-imports": "off",
        "import/order": "off",
        "simple-import-sort/imports": [
          "error",
          {
            "groups": [
              // Side effect imports.
              ["^\\u0000"],
              // Packages
              ["^@?\\w"],
              // Absolute imports
              ["^[^.]"],
              // Features
              ["^@/\\w"],
              // Relative imports
              ["^\\."]
            ]
          }
        ],
        "import/first": "error",
        "import/newline-after-import": "error",
        "import/no-duplicates": "error"
      }
    },
    {
      "files": ["src/**/*.tsx"],
      "rules": {
        "@typescript-eslint/explicit-module-boundary-types": "off"
      }
    },
    {
      "files": ["**/*.d.ts"],
      "rules": {
        "import/no-default-export": "off"
      }
    }
  ],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".jsx", ".tsx"] }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "import/prefer-default-export": "off",
    "import/no-default-export": "error",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-restricted-syntax": [
      "error",
      "LabeledStatement",
      "WithStatement",
      "SequenceExpression"
    ],
    "no-restricted-imports": ["error", { "patterns": ["../*", "~/@/*"] }],
    "no-param-reassign": "off",
    "unicorn/prevent-abbreviations": "off",
    "unicorn/no-null": "off",
    "unicorn/no-fn-reference-in-iterator": "off",
    "react/require-default-props": [
      "warn",
      {
        "forbidDefaultForRequired": true,
        "ignoreFunctionalComponents": true
      }
    ],
    "@typescript-eslint/comma-dangle": "off",
    "@typescript-eslint/no-shadow": "off",
    "@typescript-eslint/no-floating-promises": "off",
    "@typescript-eslint/unbound-method": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-use-before-define": "off"
  }
}
